<% include ../partials/boilerplate %>
<div class="navbar">
    <img class="navlogo" src="../images/mainLogo.png" alt="">
    <a class="navbuttons" href='/'>Home</a>
    <a class="navbuttons" href='/auth/register'>Register</a>
    <a class="navbuttons" href='/user'>Profile</a>
    <a class="navbuttons" href='/auth/login'>Login</a>
    <a class="navbuttons" href='/auth/logout'>Logout</a>
</div>

<div class='register'>
  <div class="regChild">Enter your Login Info</div>
  <form method='POST' action='/auth/login'>
    <input class="regChild" name='username' type='text' placeholder='username' required />
    <input class="regChild" name='password' type='password' placeholder='password' required />
    <input class="regChild regbutton" type='submit' value='Log in!' />
  </form>
</div>

<% include ../partials/end %>