<% include ../partials/boilerplate %>

<div class="navbar">
    <img class="navlogo" src="../images/mainLogo.png" alt="">
    <a class="navbuttons" href="/">Home</a>
    <a class="navbuttons" href="auth/register">Register</a>
    <a class="navbuttons" href="auth/login">Login</a>
</div>

<div class="register">
  <form method='POST' action='/auth/register'>
    <input class="regChild" name='username' type='text' placeholder='Username' required />
    <input class="regChild" name='email' type='email' placeholder='Email' required />
    <input class="regChild" name='password' type='password' placeholder='Password' required />
    <input class="regChild" name='firstname' type='text' placeholder='First Name' required />
    <input class="regChild" name='lastname' type='text' placeholder='Last Name' required />
    <input class="regChild regbutton" type='submit' value='Register' />
  </form>
</div>

<% include ../partials/end %>