

<form method='POST' action='/todo'>
  <input name='title' type='text' placeholder='Enter the task' />
  <input name='status' type='text' placeholder='STATUS' />
  <input name='category' type='text' placeholder='CATEGORY'>
  <input name='description' type='text' placeholder='DESCRIPTION'>
  <input type='submit' value='Submit!' />
</form>